<!DOCTYPE html>
<html ng-app="OneStop">
<head>
	<title>OneStop</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
	<header class="homeHeader" >
    <button class="btn btn-default log" ng-click='signup()'>Sign Up</button> 
    <button class="btn btn-default log" ng-click='log()'>Log In</button>
    <button class="btn btn-default log" ng-click='logout()'>Log Out</button>
    <h1 id="title" class="group">OneStop</h1>
    <a class="nav" href="/#/home">Home</a>
    <a class="nav" href="/#/business1">Business1</a>
    <a class="nav" href="/#/business2">Business2</a>
    <a class="nav" href="/#/business3">Business3</a>
    <a class="nav" href="/#/business4">Business4</a>
   </header>
	
	
	<div></div>
	<div id="mainContainer" class='group' ui-view></div>

	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="app/app.js"></script>
	<script src="app/login/auth.js"></script>
</body>
</html>